flask
werkzeug
Flask-RESTful
flask-marshmallow
Flask-SQLAlchemy
SQLAlchemy
marshmallow-sqlalchemy
marshmallow_enum
psycopg2-binary
flask-jwt-extended
celery
celery[redis]
prometheus_flask_exporter
google-cloud-storage
google-cloud
google-cloud-pubsub
avro
google-api-core