flask
werkzeug
moviepy
Flask-RESTful
Pillow==9.5.0
pyopenssl
flask-marshmallow
Flask-SQLAlchemy
SQLAlchemy
marshmallow-sqlalchemy
marshmallow_enum
psycopg2-binary
flask-jwt-extended
celery
celery[redis]
prometheus_flask_exporter
google-cloud-storage